.login-container {
    margin: 10px auto;
    display: table;
    /* width: fit-content; */
}

#email-space{
    padding-top: 25px;
}

.loginButtons {
    justify-content: center;
    display: inline;
    text-align: center;
    margin: 7px;
    border-color: rgb(0, 130, 99);
}

#leftBtn{
    color: white;
    background-color: rgb(0, 130, 99);
}


.loginButtons:hover {
    background-color: rgb(0, 130, 99);
    border-color: rgb(0, 130, 99);
    color: white;
}

#leftBtn:hover{
    background-color: rgb(1, 107, 82);
}

.loginButtons {
    display: flex;
    justify-content: center;
    display: inline;
    text-align: center;
    color: rgb(0, 130, 99);
    border-color: rgb(0, 130, 99);
}

.loginButtons:hover {
    background-color: rgb(0, 130, 99);
    border-color: rgb(0, 130, 99);
}

.buttons {
    display: flex;
    margin: auto;
}