.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000077;
  width: 100%;
  height: 100%;
}

.bar-container {
  display: flex;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #fff;
  width: 75%;
  max-width: 500px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 0 30px 0px #00000070;
  overflow: hidden;
  align-items: center;
}

.bar-container label {
  padding: 0;
  margin: 0;
}

.bar-container i {
  margin: 5px;
  padding: 10px 20px;
  /* border-left: 2px solid #00000020; */
  color: #00000050;
  font-size: 1.7em;
}

.bar-container input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-indent: 10px;
  font-size: 1.9em;
  border: none;
  height: 100%;
  flex-grow: 1;
}

.bar-container input::placeholder {
  color: #00000050
}

.bar-container input:focus {
  outline: none;
}

.results-container {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  width: 75%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  max-height: 490px;
  overflow: hidden;
  box-shadow: 0 0 30px 0px #00000070;
}

.results-container > ul {
  max-height: inherit;
  list-style: none;
  align-self: center;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.results-container > ul > li {
  border-top: 1px solid #00000050;
  height: 70px;
}

.results-container > ul > li:first-child {
  border: none;
}

.result {
  display: flex;
  flex-direction: row;
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  /* line-height: 70px; */
  align-items: center;
}

.result:hover {
  text-decoration: none;
  color: rgb(0, 130, 100);
}

.result ul {
  list-style: none;
  /* align-self: center; */
  margin: 0 20px;
  padding: 0;
}

.result i {
  font-size: 3em;
  /* line-height: 70px; */
  margin-left: 10px;
}