.node-container {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  width: 265px;
  height: 45px;
  padding: 0 10px;
  background-color: #008264;
  color: #ffffff;
  font-size: 16px;
  text-align: start;
  box-shadow: 0 2px 6px 0 #00000040;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin: 12px;
}

.nodeGreenColor {
  background-color: #008264;
}

.nodeOrangeColor {
  background-color: #F9AA33;
}

.nodeSelectedColor {
  background-color: #7B9EA8;
}

.portrait {
  position: relative;
  top: -12px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 8px;
  box-shadow: 0px 2px 8px 0px #00000040;
  /* background-color: #ffffff; */
}

.content-container {
  display: flex;
  flex-direction: column;
  /* height: 33px; */
}

.oc-node .nodeFullName {
  margin: 4px 0;
  line-height: 12px;
  height: 20px;
  font-size: inherit;
  /* background-color: #CEE0D7; */
  /* border-radius: 4px; */
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2px;
}

.oc-node .nodeTitle {
  line-height: 12px;
  height: 20px;
  font-size: inherit;
  /* background-color: #CEE0D7; */
  /* border-radius: 4px; */
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2px;
}