.chartPage {
  overflow-x: hidden;
  flex-grow: 1;
  bottom: 0;
}

.chartPageSidebar {
  min-width: 20rem;
  max-width: 20rem;
  min-height: 100%;
  margin-left: -20rem;
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

.chartPageContentWrapper {
  min-width: 100%;
}

.chartPageSidebarVisible {
  margin-left: 0;
<<<<<<< Updated upstream
=======
  overflow-y: auto;
}

.placeholder-text{
  font-size: 13px;
}


.card-header{
  text-align: center;
}

.employee-display-info{
  text-align: center;
}

.fa-exchange-alt{
  font-size: 25px;
  margin-left: 32px;
}

.fa-user-minus{
  font-size: 25px;
  margin-left: 30px;
}

.fa-edit{
  font-size: 25px;
  margin-left: 50px;
>>>>>>> Stashed changes
}

.fab {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 #00000040;
}

/* @media (min-width: 768px) {
  .sidebar {
    margin-left: 0;
  }

  .chartPageContentWrapper {
    min-width: 0;
    width: 100%;
  }

  .chartPage.toggled .sidebar {
    margin-left: -15rem;
  }
} */
