.chartContainer {
  display: flex;
  /* justify-content: top; */
  align-items: top;
  text-align: left;
  flex-grow: 1;
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: hidden;
  height: 100%;
  /* background-color: #00826433; */
}

.chart {
  background: none;  
}

.orgchart > ul > li > ul li::before {
  border-top-color: black;
}

.orgchart > ul > li > ul li .oc-node::before,
.orgchart ul li .oc-node:not(:only-child)::after {
  background-color: black;
}

.orgchart .verticalNodes ul > li::before, .orgchart .verticalNodes ul > li::after, .orgchart .verticalNodes > td::before {
  border-color: black;
}

.leftLine, .rightLine, .topLine {
  border-color: black !important;
}

.downLine {
  background-color: black !important;
}

