.orgchart-container {
  overflow: hidden;
  border: none;
  flex-grow: 1;
  /* height: auto; */
}

.orgchart {
  background: none;
}

.orgchart > ul > li > ul li::before {
  border-top-color: #000000;
}

.orgchart > ul > li > ul li .oc-node::before,
.orgchart ul li .oc-node:not(:only-child)::after {
  background-color: #000000;
}

.container {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  width: 265px;
  height: 45px;
  padding: 0 10px;
  background-color: #008264;
  color: #ffffff;
  font-size: 16px;
  text-align: start;
  box-shadow: 0 2px 6px 0 #00000040;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.portrait {
  position: relative;
  top: -12px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 8px;
  box-shadow: 0px 2px 8px 0px #00000040;
  /* background-color: #ffffff; */
}

.content-container {
  display: flex;
  flex-direction: column;
  /* height: 33px; */
}

.fullname {
  margin: 4px 0;
  line-height: 12px;
  height: 20px;
  /* background-color: #CEE0D7; */
  /* border-radius: 4px; */
  padding: 2px;
}

.title {
  line-height: 12px;
  height: 20px;
  /* background-color: #CEE0D7; */
  /* border-radius: 4px; */
  padding: 2px;
}