.chartPage {
  overflow-x: hidden;
  flex-grow: 1;
  bottom: 0;
}

.chartPageSidebar {
  min-width: 20rem;
  max-width: 20rem;
  max-height: 100%;
  margin-left: -20rem;
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#close-btn{
  background-color: rgb(0, 130, 100);
  font-size: 20px;
  margin: 5px;
  color: white;
}

#request-btn{
  background-color: rgb(0, 131, 185);
  color: white;
  font-size: 14px;
}

.form-body{
  font-size: 15px;
}

.chartPageContentWrapper {
  min-width: 100%;
}

.chartPageSidebarVisible {
  background-color: rgb(11, 153, 11);
  margin-left: 0;
  overflow-y: auto;
}

.placeholder-text{
  font-size: 13px;
}

.card-header{
  text-align: center;
}

.employee-display-info{
  text-align: center;
}

.fa-exchange-alt{
  font-size: 25px;
  margin-left: 32px;
}

.fa-user-minus{
  font-size: 25px;
  margin-left: 30px;
}

.fa-edit{
  font-size: 25px;
  margin-left: 50px;
}

ul.fab-group {
  position: absolute;
  bottom: 20px;
  right: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-content: center;
  /* justify-content: space-evenly; */
}

ul.fab-group li {
  display: table;
  margin: 10px auto;
}

.fab {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 #00000040;
  padding: 0;
}

.fab-small {
  height: 32px;
  width: 32px;
  font-size: .7rem;
}

/* @media (min-width: 768px) {
  .sidebar {
    margin-left: 0;
  }

  .chartPageContentWrapper {
    min-width: 0;
    width: 100%;
  }

  .chartPage.toggled .sidebar {
    margin-left: -15rem;
  }
} */
